.sidebar {
  /* width: 270px; */
  /* min-height: 100vh; */
  background: #ffffff;
  border-right: 1px solid #e2e8f0;
  padding: 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 0 20px rgba(15, 23, 42, 0.03);
}

.logoSection {
  border-bottom: 2px solid black;
  /* margin-bottom: 2.5rem; */
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 0.4rem;
}

.subText {
  font-size: 0.92rem;
  color: #64748b;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.85rem;
  padding: 0.95rem 1rem;
  border-radius: 18px;
  color: #334155;
  text-decoration: none;
  font-size: 0.98rem;
  font-weight: 500;
  transition: all 0.25s ease;
}

.navItem:hover {
  background: #eff6ff;
  color: #2563eb;
  transform: translateX(4px);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
}

.logoutBtn {
  border: none;
  outline: none;
  background: #fff1f2;
  color: #e11d48;
  padding: 0.95rem 1rem;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 0.85rem;
  font-size: 0.98rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.logoutBtn:hover {
  background: #ffe4e6;
  transform: translateY(-2px);
}

@media (max-width: 900px) {
  .sidebar {
    width: 220px;
    padding: 1.5rem 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .navItem {
    padding: 0.85rem 0.9rem;
  }
}

@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
}
